{% extends "base_generic.html" %}

{% block title %}
<title>Reading List | Michael Savych Blog</title>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reading_list.css' %}">
<script>
  const bookmarkIconPath = "{% static 'images/bookmark.svg' %}";
</script>
<script src="{% static 'js/readingList.js' %}" type="module" defer></script>
{% endblock %}

{% block content %}
<section class="saved-articles-section">
  <h1>Reading List</h1>

  <div id="saved-articles-list" class="saved-articles-list">
  </div>
</section>
{% endblock %}