.article-wrapper {
  margin-left: 3rem;
  width: 62%;
  min-width: 60ch;
}

.article-details-pub-date {
  color: var(--dim-text);
  font-size: 1rem;
  font-style: italic;
}

.article-details-topics {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.article-wrapper li {
  list-style-position: inside;
}

.code-block code {
  display: block;
  background-color: var(--code-block-bg);
  color: var(--light-text);
  padding: 1.1rem;
  border-radius: 6px;
  border: 1px solid var(--light-text);
}

.code-block span {
  font-family: monospace;
  font-size: 1rem;
}

.inline-code {
  padding: .125rem .25rem;
  border-radius: .25rem;
  background-color: var(--footer-bg);
  color: var(--light-text);
  font-family: monospace;
  font-weight: 600;
}

.article-wrapper h2 {
  margin: 1.3rem 0;
}

.article-wrapper table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.article-wrapper th,
.article-wrapper td {
  border: 1px solid var(--light-text);
  padding: 5px;
}

.article-wrapper > p,
.article-wrapper li {
  line-height: 1.4;
  overflow-wrap: break-word;
}

.article-wrapper > p,
.article-wrapper ul {
  margin: 1.3rem 0;
}

.code-block {
  position: relative;
  margin: 1.3rem 0;
}

.copy-to-clipboard-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 4px;
  transition: background-color .1s;
}

.copy-to-clipboard-btn:hover {
  cursor: pointer;
  background-color: var(--copy-btn-hover-bg);
}

.copy-to-clipboard-btn img {
  width: 18px;
  height: 18px;
  display: none;
}

.copy-to-clipboard-icon {
  filter: var(--code-copy-icon-color);
  transition: transform .1s;
}

.copy-to-clipboard-btn:hover .copy-to-clipboard-icon {
  filter: var(--code-copy-hover);
}

.copy-to-clipboard-btn .show {
  display: block;
}

/* ========= Similar Articles ======== */
.similar-articles-section {
  margin-top: 4rem;
}

.similar-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.similar-articles * {
  margin: 0;
}

.similar-articles .topics-list {
  margin: 0;
}
