.article-wrapper {
  margin-left: 3rem;
  width: 62%;
  min-width: 60ch;
}

.article-details-pub-date {
  color: var(--dim-text);
  font-size: 1rem;
  font-style: italic;
}

.article-details-topics {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.article-wrapper li {
  list-style-position: inside;
}

.code-block code {
  display: block;
  background-color: var(--code-block-bg);
  color: var(--light-text);
  padding: 1.1rem;
  border-radius: 6px;
  border: 1px solid var(--light-text);
}

.code-block span {
  font-family: monospace;
  font-size: 1rem;
}

.inline-code {
  padding: .125rem .25rem;
  border-radius: .25rem;
  background-color: var(--footer-bg);
  color: var(--light-text);
  font-family: monospace;
  font-weight: 600;
}

.article-wrapper h2 {
  margin: 1.3rem 0;
}

.article-wrapper table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.article-wrapper th,
.article-wrapper td {
  border: 1px solid var(--light-text);
  padding: 5px;
}

.article-wrapper > p,
.article-wrapper li {
  line-height: 1.4;
  overflow-wrap: break-word;
}

.article-wrapper > p,
.article-wrapper ul {
  margin: 1.3rem 0;
}

.article-wrapper a {
  font-weight: 600;
  color: var(--link-color);
  transition: color .2s;
}

.article-wrapper a:hover {
  color: var(--link-hover);
}

.article-wrapper p:has(img) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.code-block {
  position: relative;
  margin: 1.3rem 0;
}

.copy-to-clipboard-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 4px;
  transition: background-color .1s;
}

.copy-to-clipboard-btn:hover {
  cursor: pointer;
  background-color: var(--copy-btn-hover-bg);
}

.copy-to-clipboard-btn img {
  width: 18px;
  height: 18px;
  display: none;
}

.copy-to-clipboard-icon {
  filter: var(--code-copy-icon-color);
  transition: transform .1s;
}

.copy-to-clipboard-btn:hover .copy-to-clipboard-icon {
  filter: var(--code-copy-hover);
}

.copy-to-clipboard-btn .show {
  display: block;
}

/* ========= Similar Articles ======== */
.similar-articles-section {
  margin-top: 4rem;
}

.similar-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.similar-articles * {
  margin: 0;
}

.similar-articles .topics-list {
  margin: 0;
}

.share-wrapper {
  position: relative;
}

.share-btn {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 7px 12px;
  border-radius: 20px;
  border: 1px solid var(--light-text);
  background-color: transparent;
  transition: var(--color-transition);
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 1.5rem 0;
}

.share-btn img {
  width: 1rem;
  height: 1rem;
  filter: var(--code-copy-icon-color);
}

.share-btn:hover {
  cursor: pointer;
  border: 1px solid var(--dimmer-text);
}

.share-wrapper .share-links-list {
  position: absolute;
  left: 0;
  border: 1px solid var(--light-text);
  border-radius: 5px;
  margin: 0;
  background-color: var(--bg-color);
  padding: 5px;
  list-style: none;
  display: none;
}

.share-links-list.show {
  display: block;
}

.share-links-list li {
  border-radius: 4px;
}

.share-links-list a,
.share-links-list button {
  font-size: 1rem;
  color: var(--light-text);
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.share-links-list button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.share-links-list li:hover,
.share-links-list button:hover {
  background-color: var(--footer-bg);
  cursor: pointer;
}

.share-links-list a:hover {
  color: var(--light-text);
}

.share-links-list a > img,
.share-links-list button > img {
  width: 1rem;
  height: 1rem;
  filter: var(--code-copy-icon-color);
}
