.articles-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 350px));
  gap: 1.5rem;
}

.articles-content-wrapper {
  padding-left: 2rem;
}

.articles-section-heading {
  margin-bottom: 1.5rem;
}

.applied-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 1.5rem 0;
}

.applied-filters button {
  font-size: .8rem;
  font-weight: bold;
  padding: 5px 9px;
  border-radius: 20px;
  border: 1px solid var(--light-text);
  background-color: transparent;
  transition: var(--color-transition);
}

.applied-filters button:hover {
  cursor: pointer;
  border: 1px solid var(--dimmer-text);
}

/* =========== Pagination ============= */

.pagination {
  width: fit-content;
  display: flex;
  gap: 3px;
  margin: 3rem auto;
  font-weight: bold;
}

.pagination a {
  text-decoration: none;
  font-size: 1.1rem;
}

.page-btn,
.current-page,
.inbetween-pages {
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1.1rem;
  color: var(--light-text);
}

.page-btn,
.current-page {
  background-color: var(--page-btn-bg);
}

.page-btn {
  border: 1px solid var(--page-btn-border);
}

.current-page {
  border: 1px solid var(--light-text);
}

@media screen and (max-width: 1280px) {
  .articles-section {
    grid-template-columns: repeat(2, minmax(0, 350px));
  }
}

@media screen and (max-width: 768px) {
  .articles-section {
    grid-template-columns: 350px;
  }
}

@media screen and (max-width: 640px) {
  .articles-content-wrapper {
    padding-left: 1rem;
  }

  .articles-section {
    grid-template-columns: 1fr;
  }

  .article-card-heading {
    font-size: 1.2rem;
  }

  .short-desc {
    display: none;
  }
}
