{% extends "base_generic.html" %}

{% block title %}
<title>{{ article.title }} | Michael Savych Blog</title>
{% endblock %}

{% block content %}
  <div class="article-wrapper">
    <h1>{{ article.title }}</h1>
    <p>{{ article.pub_date }}</p>
    <p>⏱ <span id="time-to-read"></span> read</p>
    
    {% if article.tags.all %}
    <ul class="topics-list">
      {% for tag in article.tags.all %}
        <li>
          <button class="tag-btn">{{ tag.name }}</button>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  
    {{ article.html_content|safe }}
  </div>

  {% if similar_articles %}
  <section>
    <h2>You may also find these articles interesting:</h2>
    <div class="similar-articles">
      {% for article in similar_articles %}
      <article class="article-card">
        <a href="{{ article.get_absolute_url }}" class="article-card-heading">{{ article.title }}</a>
        {% if article.tags.all %}
        <ul class="topics-list">
          {% for tag in article.tags.all %}
          <li>
            <button class="tag-btn">{{ tag.name }}</button>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </section>
  {% endif %}
{% endblock %}
