<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Michael Savych Blog</title>
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/globals.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/forms.js' %}" defer></script>
  {% block extra_scripts %}
  {% endblock %}
</head>

<body>
  <header class="header">
    <nav>
      <ul>
        <li>
          <img src="https://placehold.co/40x40" alt="logo image">
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
      <div>
        <select data-theme-picker name="themepicker" id="color-theme-selector">
          <option value="light"><img src="{% static 'images/sun.svg' %}" alt="light scheme icon"> Light</option>
          <option value="dark"><img src="{% static 'images/moon.svg' %}" alt="dark scheme icon"> Dark</option>
          <option value="system"><img src="{% static 'images/system.svg' %}" alt="system scheme icon"> System</option>
        </select>
        <button>Sound on/off</button>
      </div>
    </nav>
  </header>

  <main class="main-wrapper">
    <aside class="sidebar">
      <h4 class="sidebar-heading">Topics</h4>
      {% if tag_list %}
      <form action="" method="post" id="filters-form" class="filters-form">
        {% csrf_token %}
        {% for tag in tag_list %}
        <label for="{{ tag.name }}">
          <input type="checkbox" name="tag-filter" id="{{ tag.name }}" class="filter-checkbox" value="{{ tag.name }}" {% if tag.name in filters %}checked{% endif %} />
          {{ tag.name }}
        </label>
        {% endfor %}
      </form>
      {% endif %}
    </aside>

    {% block content %}{% endblock %}

    <button id="up-btn" class="up-btn">
      <img src="{% static 'images/arrow-big-up.svg' %}" alt="go up icon">
    </button>
  </main>
  <footer class="footer">
    <div class="footer-wrapper">
      <div>
        <h3>Want to get notified when I publish a new article?</h3>
        <form method="post" id="subscribe-form" class="subscribe-form">
          {% csrf_token %}
          <label for="{{ email_form.email.id_for_label }}">
            {{ email_form.email.label }}
          </label>
          <div class="subscribe-form-input-wrapper">
            {{ email_form.email }}
            <input type="submit" class="subscribe-form-submit" value="Subscribe" />
          </div>
          <p id="res-msg"></p>
        </form>
      </div>
      <div>
        <h3>Contact</h3>
        <ul class="contact-links">
          <li>
            <a href="#">Github</a>
          </li>
          <li>
            <a href="#">Bluesky</a>
          </li>
          <li>
            <a href="#">Linkedin</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="developed-by-para">Developed by Michael Savych</p>
  </footer>
  {% block script %}{% endblock %}
</body>

</html>