<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Michael Savych Blog</title>
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/forms.js' %}" defer></script>
  {% block extra_scripts %}
  {% endblock %}
</head>

<body>
  <header class="header">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>Categories</li>
        <li>About</li>
      </ul>
      <ul>
        <li>Dark mode</li>
        <li>Sound on/off</li>
      </ul>
    </nav>
  </header>

  <aside class="sidebar">
    {% if tag_list %}
    <form action="" method="post" id="filters-form">
      {% csrf_token %}
      {% for tag in tag_list %}
        <label for="{{ tag.name }}">
          {{ tag.name }}
          <input type="checkbox" name="tag-filter" id="{{ tag.name }}" class="filter-checkbox" value="{{ tag.name }}"
            {% if tag.name in filters %}checked{% endif %}
          />
        </label>
      {% endfor %}
    </form>
    {% endif %}
  </aside>
  
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <form method="post" id="subscribe-form">
      {% csrf_token %}
      {{ email_form }}
      <p id="res-msg"></p>
      <input type="submit" value="Submit" />
    </form>
  </footer>
  {% block script %}{% endblock %}
</body>

</html>