{% extends "base_generic.html" %}

{% block extra_scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base_with_sidebar.css' %}">
<script src="{% static 'js/forms.js' %}" defer></script>
<script src="{% static 'js/sidebar.js' %}" defer></script>
{% endblock %}

{% block sidebar %}
<aside class="sidebar">
  <h4 class="sidebar-heading">Topics</h4>
  {% if tag_list %}
  <form method="post" id="filters-form" class="filters-form">
    {% csrf_token %}
    {% for tag in tag_list %}
    <label for="{{ tag.name }}">
      <input type="checkbox" name="tag-filter" id="{{ tag.name }}" class="filter-checkbox" value="{{ tag.name }}" {% if tag.name in filters %}checked{% endif %} />
      {{ tag.name }}
    </label>
    {% endfor %}
  </form>
  {% endif %}
  <button id="sidebar-collapse-btn" class="sidebar-collapse-btn" type="button">></button>
</aside>
<div class="overlay"></div>
{% endblock %}
