{% extends "base_generic.html" %}

{% block title %}
<title>Home | Michael Savych Blog</title>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="articles-content-wrapper">
  <h2 class="articles-section-heading">Articles</h2>

  {% if page_obj %}
  {% if filters %}
  <ul class="applied-filters">
    {% for filter in filters %}
    <li>
      <button class="applied-filter-btn" value="{{ filter }}">{{ filter }} X</button>
    </li>
    {% endfor %}
  </ul>
  <div>
    <p>Found <span>{{ num_articles }}</span> article{{ articles|pluralize }}</p>
  </div>
  {% endif %}

  <section class="articles-section">

    {% for article in page_obj %}
    <article class="article-card">
      <a href="{{ article.get_absolute_url }}" class="article-card-link">
        <img src="https://placehold.co/400x240" alt="" />
        <h3 class="article-card-heading">{{ article.title }}</h3>
        <p class="short-desc">short description</p>
      </a>
      <div class="article-card-bottom-wrapper">
        <p class="pub-date-para">{{ article.pub_date }}</p>
        {% if article.tags.all %}
        <ul class="topics-list">
          {% for tag in article.tags.all|slice:":3" %}
          <li>
            <button class="tag-btn">{{ tag.name }}</button>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </section>

  {% else %}
  <p>There are no articles yet.</p>
  {% endif %}

  <div class="pagination">
    {% if page_obj.has_previous %}
      {% if page_obj.number != 1 %}
      <a href="?page=1{{ filters_url_params }}" class="page-btn">1</a>
      {% endif %}
      {% if page_obj.number > 3 %}
      <span class="inbetween-pages">...</span>
      {% endif %}
      {% if page_obj.number > 2 %}
      <a href="?page={{ page_obj.previous_page_number }}{{ filters_url_params }}" class="page-btn">
        {{ page_obj.previous_page_number }}
      </a>
      {% endif %}
    {% endif %}

    <span class="current-page">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{{ filters_url_params }}" class="page-btn">
      {{ page_obj.next_page_number }}
    </a>
      {% if display_invisible_next_pages %}
        <span class="inbetween-pages">...</span>
      {% endif %}
      {% if page_obj.next_page_number < page_obj.paginator.num_pages %} <a
        href="?page={{ page_obj.paginator.num_pages }}{{ filters_url_params }}" class="page-btn">
        {{ page_obj.paginator.num_pages }}
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}